<nav class="sidebar">
    <div class="logo">
        <a> 
            <img src="../../../assets/img/logo.png" alt="Logo">
        </a>
    </div>

    <div class="navigation">
        <ul class="list-unstyled"> 
            <li [routerLink]="'/home'" routerLinkActive="active"> 
                <a>Nivel Global</a>
            </li>
            <li  [routerLink]="'/pais'" routerLinkActive="active"> 
                <a>Por pais</a>
            </li>
            <li [routerLink]="'/live'" routerLinkActive="active"> 
                <a>En vivo</a>
            </li>
        </ul>
    </div>
</nav>

